[2021-05-27 13:04] vladi-strilets opened #1 "Ignored custom eslint plugin rules"
Hello, I noticed a format bug with a custom plugin.

Here I leave an example https://github.com/vladi-strilets/vs-code-prettier-eslint

Just clone the master, do yarn, go to the `src/test.js` and format with the **prettier-eslint extension**.

I have added a new plugin https://github.com/kusotenpa/eslint-plugin-destructuring-newline

The problem is that this code has no been formatted.
[code]

Exp

[2021-05-29 00:39] idahogurl commented on #1
@vladi-strilets Thank you for making an issue!! Thanks for making a reproducible example repo as well. I'll check into ASAP

[2021-05-29 05:33] idahogurl commented on #1
@vladi-strilets What version of the `prettier-eslint-cli` did you install? `eslint-plugin-destructuring-newline@0.0.2` requires ESLint 7 and my plugin only supports `6.8.0` for the time being.

[2021-05-29 15:40] vladi-strilets commented on #1
@idahogurl
I found a stranger behavior with prettier-eslint.

When I pass the **text** param to the  `format` function, it returns a formated string but without applying the object restructuring rule.
Meanwhile, passing the **filePath** prop of the file, the object restructuring rule is applied well.

Here I have updated the example:
https://github.com/vladi-strilets/vs-code-prettier-eslint/blob/m

[2021-05-29 17:58] idahogurl commented on #1
@vladi-strilets If the `format` function doesn't work then my extension won't ever work. Could you follow the troubleshooting steps I have in the README to see if an error shows up in the `Output` panel?

[2021-06-18 11:49] syymo opened #2 "Is there a way that the two folders can be formatted separately？"
![image](https://user-images.githubusercontent.com/26571594/122556180-c4ff2400-d06d-11eb-94e2-8ef1012b81e2.png)

hello，My project client is web，server is API server，
two project but in one.
two project all install @typescript-eslint/parser、prettier、prettier-eslint
client is can format，but server Error: Cannot find module '@typescript-eslint/parser'.

Is there a way that the two folders can be form

[2021-06-19 18:10] idahogurl commented on #2
@syymo I need some reproduction steps and/or access to a sample repository.

[2021-06-21 04:28] ddzyan opened #3 "typescript file format error"
[code]

![image](https://user-images.githubusercontent.com/9130123/122707239-30264180-d28c-11eb-9a78-042f36a0f721.png)

[2021-06-21 20:06] idahogurl commented on #3
@ddzyan I'm assuming the `node_modules` folder is local to your project? Have you ran through the troubleshooting steps in the README?

[2021-06-22 02:26] ddzyan commented on #3
Yes, I have followed the readme.md

[2021-06-22 22:03] idahogurl commented on #3
@ddzyan Could you give me access to this repository?

[2021-06-30 07:35] ddzyan commented on #3
thanks，https://github.com/ddzyan/dubbo-node-demo

[2021-07-01 22:34] idahogurl commented on #3
@ddzyan Thank you!!

[2021-07-02 08:24] zhaojunyan9528 opened #4 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `3.0.4`
- OS Version: `Windows_NT x64 10.0.18363`
- VS Code version: `1.57.0`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-07-05 18:18] idahogurl commented on #3
@ddzyan I got your project working. The issue was that you had invalid `extends` value and a missing `parser` value.

**package.json**
[code]

**.eslintrc.json**
[code]

[2021-07-05 18:21] idahogurl commented on #4
@zhaojunyan9528 What's the error you are receiving? Could you provide a reproduction repository with steps to reproduce?

[2021-07-07 07:33] ddzyan commented on #3
Thank you!!

[2021-07-07 07:33] #3 closed

[2021-07-13 01:50] UnRealSKY opened #5 "vue/max-len not work"
extends
`rvest.vs-code-prettier-eslint@3.0.4`

.eslintrc.js
[code]

package-lock.json
[code]

formater alway follow `max-len` default `code: 80`,
not my setting `vue/max-len` `code: 140` and `template: 200`.

[2021-07-14 09:35] AkanWealth opened #6 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `3.0.4`
- OS Version: `Windows_NT x64 6.3.9600`
- VS Code version: `1.58.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\AKANWE~1\AppData\Local\Temp\rvest.vs-code-prettier-eslint-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsof

[2021-07-14 21:37] idahogurl commented on #6
@AkanWealth Thank you for creating an issue and providing some help to resolve it. I am aware of performance issues with quad-core or smaller processors. Being on Windows NT makes me think you are on an older machine. I'll see what is causing the high cpu load but I'm afraid my hands are tied if it points to the Prettier-ESLint package.

Do you have auto save set to `onFocusChange`?

[2021-07-14 21:38] idahogurl commented on #5
@UnRealSKY Thank you for creating an issue. I'll get to trying to reproduce it as soon as I can.

[2021-07-14 21:46] idahogurl commented on #6
@AkanWealth I need that `cpuprofile.txt` file. It didn't get attached.

[2021-07-19 05:01] idahogurl commented on #5
@UnRealSKY Using the example project here: https://github.com/idahogurl/vs-code-prettier-eslint/tree/master/examples/javascript-vue
I was able to get `vue/max-len` to work somewhat where it formatted the line to 100 characters. I used the Prettier-ESLint CLI and got the same result. There is a defect in the Vue ESLint plugin (not mine) that making the ESLint settings not apply.

I ran `eslint *.vu

[2021-07-20 00:48] majidini opened #7 "probleem 1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Example Project**

 (If possible, please create an example project here on GitHub.com that exhibits the problemati

[2021-07-20 03:52] majidini opened #8 "@ddzyan I got your project working. The issue was that you had invalid `extends` value and a missing `parser` value."
@ddzyan I got your project working. The issue was that you had invalid `extends` value and a missing `parser` value.

**package.json**
[code]

**.eslintrc.json**
[code]

_Originally posted by @idahogurl in https://github.com/idahogurl/vs-code-prettier-eslint/issues/3#issuecomment-874269477_

[2021-07-20 03:55] #8 closed

[2021-07-20 03:56] idahogurl commented on #2
Closing due to over 30 days of inactivity.

[2021-07-20 03:56] #2 closed

[2021-07-20 03:58] idahogurl commented on #1
Closing due to over 30 days of inactivity.

[2021-07-20 03:58] #1 closed

[2021-07-20 03:59] idahogurl commented on #4
Closing issue due to over 14 days of inactivity.

[2021-07-20 03:59] #4 closed

[2021-07-20 15:56] kishanlalbj opened #9 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `3.0.4`
- OS Version: `Darwin x64 20.5.0`
- VS Code version: `1.58.2`

:warning: extension is not responding :warning:

[code]

[2021-07-21 12:13] QuickMick opened #10 "Push Plugin to Open VSX Registry"
Hi,

i am currently using the OSS version of vscode, which uses per default the [open-vsx](https://open-vsx.org/) extension registry, and this plugin seems to be missing there.

Could you also push it to this registry?

Thanks in advance.

[2021-07-23 01:17] idahogurl commented on #7
@majidini Could I get some clear reproduction steps and/or example repository?

[2021-07-23 01:20] idahogurl commented on #9
@kishanlalbj Could I get some clear reproduction steps and/or a repository to reproduce?

[2021-07-27 22:02] stevengrimaldo opened #11 "Error: Cannot find module '@typescript-eslint/parser'"
**Describe the bug**
Getting the error in vscode "Error: Cannot find module '@typescript-eslint/parser'"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to vs code
2. Click on prettier bottom right
3. Select prettier Eslint
4. Click save on any file in code base
4. See error

**Expected behavior**
No error

**Example Project**
Packages installed in the repo
prettier, prettier-eslint, @typ

[2021-07-28 17:25] idahogurl commented on #11
@stevengrimaldo Could you compare your setup with https://github.com/idahogurl/vs-code-prettier-eslint/tree/master/examples/typescript

[2021-07-28 19:08] idahogurl commented on #10
I started the process of being registered. I have to wait until they process my namespace claim PR. https://github.com/EclipseFdn/open-vsx.org/issues/609

[2021-07-29 10:17] vlanemcev opened #12 "Upgrade version of ESLint and Prettier"
Thanks a lot for creating it!!
Hey, why can't we update to newer versions of Prettier and ESLint?

[2021-08-01 11:32] AndriyBroda commented on #11
Hi, first of all, thank you for the extension. But why can't we upgrade the version of ESLint and Prettier?

[2021-08-02 20:41] stevengrimaldo commented on #11
All set, thanks!

[2021-08-02 20:41] #11 closed

[2021-08-09 19:39] idahogurl commented on #12
@vlanemcev I can probably release it as a beta for download. I had upgraded both t in the past and then had to do an emergency rollback.

[2021-08-12 18:53] vlanemcev commented on #12
what is the problem? Maybe we can help with it?

[2021-08-12 18:55] vlanemcev commented on #12
It will be very great to start moving in this way.
I really like this extension and possibility to get rid of eslint & prettier conflicts
but only outdated versions of packages stops me

[2021-08-18 20:44] armenr commented on #12
+1 -- updated packages would be great, I'm currently seeing an error (using eslint 7.x)

[code]

[2021-08-18 22:09] armenr commented on #12
@idahogurl - Thank you for your wonderful (and solo) work on this plugin! With my comment below, I do not intend any offense, and I'm not trying to convince users to move away from your plugin...I'm just sharing an alternative path I found for achieving the same effect as your plugin. 😎

## Use only Prettier and ESLint in a totally "vanilla" way without needing prettier-eslint, or eslint-config-pr

[2021-08-19 17:23] idahogurl commented on #12
@armenr Yes but with a lot more work. Hence the reasoning for this plugin.

@vlanemcev I believe the problem was that users were getting `Module cannot be found` but now I think those errors were because of bad setup. Since then when users get that error it's always been because they had ESLint setup wrong. Providing example projects has cleared that up.

If you could create a PR with the package

[2021-08-31 11:38] devamiya commented on #11
I am facing the same error. I have updated the dev dependencies as per the above example.
Is any update to this?

[2021-08-31 12:38] devamiya commented on #11
Updated the .eslintrc working fine

[2021-09-01 17:35] #5 closed

[2021-09-02 09:38] ncoquelet opened #13 "Why using this extension instead Prettier + ESLint"
Hi,
I'm pretty sure there are many good reasons for the existence of this extension but it's not describe in the readme !
I use official Prettier + Eslint Extensions without issue. Why I should abandon them in favor of this extension ?

Thanks a lot

[2021-09-13 11:16] Ayushi-Sharma opened #14 "Saving Code is taking forever"
Issue Type: <b>Performance Issue</b>

I closed VSCode multiple times yet it was not saving the way it should. It has hanged multiple times.
Unable to work with this hanging again and again

Extension version: 3.0.4
VS Code version: Code 1.50.1 (d2e414d9e4239a252d1ab117bd7067f125afd80a, 2020-10-13T14:53:05.704Z)
OS version: Darwin x64 20.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|

[2021-09-13 14:46] idahogurl commented on #13
@ncoquelet This extension does not replace the need for the ESLint extension. You still have to use the ESLint extension if you want it to highlight issues.

My extension only "replaces" the Prettier extension. If you have ESLint formatting rules enabled in your ESLint configuration, then you have to run both `eslint --fix` + `prettier`. Previously the official Prettier extension did not have an o

[2021-09-13 14:46] #13 closed

[2021-09-24 17:31] #9 closed

[2021-09-24 17:31] #7 closed

[2021-09-24 17:31] #6 closed

[2021-09-27 16:27] nehalbadelhafez opened #15 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `3.0.4`
- OS Version: `Linux x64 5.11.0-36-generic`
- VS Code version: `1.60.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/tmp/rvest.vs-code-prettier-eslint-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extens

[2021-10-11 21:22] wadewadewadewadewadewade opened #16 "Getting "Error: r is not a constructor" in Windows VSCode > Output > Prettier Eslint"
**Describe the bug**
I'm trying to get the [Prettier Eslint](https://marketplace.visualstudio.com/items?itemName=rvest.vs-code-prettier-eslint) plugin to run in Windows VScode, but I only see "Error: r is not a constructor" in VSCode > Output > Prettier Eslint

**To Reproduce**
1. Open a .tsx file with intentionally ugly formatting and see no errors
2. Open the Prettier Eslint extension output win

[2021-10-13 05:37] MarkSky commented on #16
I have the same error.
I also found some information in Developer Tools:
![Prettier-eslint](https://user-images.githubusercontent.com/4032734/137073439-d5fed244-7c1c-4307-9a30-9edf5acfb65b.jpg)

[2021-10-13 19:42] idahogurl commented on #16
@UnstoppableMango @MarkSky I believe this is an error with Prettier ESLint. It may not support Node 16 or there is a bug in the latest version. Could you downgrade to the supported versions listed in the README. I should put that Node 14 is supported. I want to upgrade the ESLint & Prettier. I'm probably going to create a beta VSX for people to download.

[2021-10-13 21:11] idahogurl commented on #16
@wadewadewadewadewadewade

It was a configuration issue. You do not need to specify the ES version in the `env` section if you are using TypeScript. I got it to work by making changes to these files.

**.eslintrc.json**

[code]

**package.json**

[code]

[2021-10-13 23:31] wadewadewadewadewadewade commented on #16
@idahogurl Awesome, that basically got me 99% of the way there - thank you!

one additional thing I had to do was change `"ecmaVersion": "latest"` to `"ecmaVersion": 12` because of this similar error I then got (once eslint was parsing everything correctly): https://github.com/eslint/eslint-scope/issues/55

Also, I installed eslint 7.28.0 because some of the dependencies of the typescript parser a

[2021-10-18 19:05] #16 closed, assigned to idahogurl

[2021-10-20 12:16] kristiannotari commented on #14
Ok I tried multiple times and with .eslintignore and .prettierignore files it does save instantly and everything seems to work fine. I've looked within this extension source code and I think it's hardcoded the retrieving of ignore files by finding .eslintignore and .prettierignore files. Would be cool to have an option to change cli execution parameters for both eslint and prettier, like what I'm

[2021-10-26 11:54] Full-Stack-Shokhboz-Abdullayev opened #18 "Prettier Eslint can not find module"
Hi! The plugin is awesome and I have used it in several projects, but as I move to another PC and install the plugin and eslint globally, I get this error in the Output (terminal):

Error: Cannot find module 'eslint'
Require stack:
- c:\Users\Shokhboz_Abdullaev\.vscode\extensions\rvest.vs-code-prettier-eslint-3.0.4\dist\extension.js
- d:\Apps\Microsoft VS Code\resources\app\out\vs\loader.js
- d:\A

[2021-11-02 07:41] syntistx opened #19 "Not Implementing Eslint Typescript Rules in Pretiiter"
**Describe the bug**
For example, when i run prettier-eslint on normal project it follows the rules
Like trailing comma and single qutoes
But in TypeScript it doesn't enforce those rules and i ended up with errors in my code

[code]

After Format Document with Prettier-eslint

[code]

eslint config:

[code]

[2021-11-04 18:50] idahogurl commented on #14
@kristiannotari Sorry I didn't see you replied!! You'd have to see if the `prettier-eslint` package allows you pass in other CLI options. I'm thinking it doesn't

[2021-11-04 18:52] idahogurl commented on #19
@syntistx I'll take a look when I can. For now can you see if using the `prettier-eslint` CLI gives you the same result. Also, check the `examples` folder inside this repository. A lot of errors are caused by an issue in the ESLint config file. The example TypeScript project does work with my extension as expected.

[2021-11-09 08:05] kristiannotari commented on #14
Yeah, after a brief look, it seems to not support it. There are other "competitors" that seem to support the ignore path/file option though, the ones specified at the end of the `prettier-eslint` readme. I've also checked both eslint and prettier are currently developing a better ignore configurable system, based on configuration too (instead of just the cli) but there are no great advancements in

[2021-11-17 00:07] tobewisebeforeiamold opened #20 "A question, not a bug: can I"
**Describe the bug**
This is actually a question more than a bug: can I see that the eslint rules are running after the prettier rules?

For example, my `.prettierrc.json` file looks like this:
[code]

And my .eslintrc.js file has these rules:
[code]

...applying prettier-eslint formating turns that into this (removing the spacing in the parens):
[code]

If I run `prettier --write . && eslint .` f

[2021-11-17 00:45] idahogurl commented on #20
@tobewisebeforeiamold This extension is using the 'prettier-eslint' package. Could you try the [CLI](https://github.com/prettier/prettier-eslint-cli) of prettier-eslint and see if you get the same result? Also, are you using the beta version of the plugin made for Prettier 2?

[2021-11-17 02:28] Leslie-L55 opened #21 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `3.0.4`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.62.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\admin\AppData\Local\Temp\rvest.vs-code-prettier-eslint-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft

[2021-11-17 16:52] tobewisebeforeiamold commented on #20
Sure thing!

I installed prettier-eslint-cli ^5.0.1 and that seems to work as desired with eslint running after prettier...at least with respect to the example above and the spacing within the parens.

In case it's useful, my eslint config is in a js file/module and my prettier config is in a json file. Is it possible that the VSCode extension doesn't like my eslint config being a .js file/module?

[2021-11-17 20:23] idahogurl commented on #20
@tobewisebeforeiamold Hmmmm...that is strange. Using JS for your ESLint config file shouldn't be a factor. All my code does is get the text from the file you are saving and then return the output from calling the `format` function from `prettier-eslint` I'll try to reproduce it as soon as I can.

[2021-11-17 20:26] idahogurl commented on #21
@Leslie-L55 Thank you for creating an issue and providing some help to resolve it. I am aware of performance issues with quad-core or smaller processors. Being on Windows NT makes me think you are on an older machine. I need the `cpuprofile.txt` to know what is causing this issue.

Do you have autosave set to `onFocusChange`?

[2021-11-17 20:26] idahogurl commented on #15
@nehalbadelhafez Thank you for creating an issue and providing some help to resolve it. I am aware of performance issues with quad-core or smaller processors. Being on Windows NT makes me think you are on an older machine. I need the `cpuprofile.txt` to know what is causing this issue.

Do you have autosave set to `onFocusChange`?

[2021-11-17 20:26] #18 closed

[2021-11-17 20:30] #14 closed

[2021-11-18 17:08] tobewisebeforeiamold commented on #20
Awesome, thank you!

Some additional info in case it's useful:

I have the Prettier `esbenp.prettier-vscode` extension installed as well.

When I look at my settings filtering for "Prettier" I see 28 settings that seem to be associated with that "Prettier" extension and not the "Prettier-ESLint" extension?

![image](https://user-images.githubusercontent.com/93224599/142462934-2151b9bc-da26-4c3a-98

[2021-11-19 18:36] rowanfreeman commented on #19
I have the same problem when using [eslint-config-standard-with-typescript](https://github.com/standard/eslint-config-standard-with-typescript)

[code]

![eslint errors](https://i.imgur.com/3ZHfp9T.png)

I can tell eslint to autofix the problems, which it does, but then when I save the file, it gets changed back.

[2021-11-20 11:36] Leslie-L55 commented on #21
我的c:\Users\admin\AppData\Local\Temp下没有该文件

[2021-11-21 00:57] idahogurl commented on #20
@tobewisebeforeiamold I was able to reproduce the behavior. However, after trying `yarn run prettier-eslint *.js` with the Prettier ESLint CLI, I get `const someFunction = (param1, param2) => {};` It's a `prettier-eslint` issue. Could you report this error to that repository?

[2021-11-21 01:53] idahogurl commented on #19
@syntistx I created a test repository and was able to reproduce the behavior. However, unlike @rowanfreeman using the `prettier-eslint-cli`, I got the same result. This appears to be an issue with the `prettier-eslint` package. Could you create an issue on their repository?

[2021-11-21 04:12] idahogurl commented on #19
@rowanfreeman I also created a test repository with your configuration. I finally figured it out after some debugging the `prettier-eslint` package. The issue was that using the `format` function doesn't resolve the path of the `tsconfig.json` file. Setting the full path of `tsconfig.json` works!!

[code]

[2021-11-22 17:25] tobewisebeforeiamold commented on #20
Weird, that's interesting that you get the incorrect behavior from the CLI!

[2021-11-22 17:27] tobewisebeforeiamold commented on #20
Should I still open an issue with the CLI?

[2021-11-23 04:20] idahogurl commented on #20
@tobewisebeforeiamold If you can't reproduce it on the CLI then don't report it. Perhaps the best thing is for you to push the project up to a repository.

[2021-11-24 20:33] idahogurl commented on #20
I cloned your sample repository. I was able to get the correct behavior with the CLI. I also was able to get the correct behavior with my extension but that's because I'm using the 4.0 beta version which supports Prettier 2 & ESLint 7. On the main README you'll find a section about the Beta Version here https://github.com/idahogurl/vs-code-prettier-eslint#beta-download

[2021-11-24 20:48] tobewisebeforeiamold commented on #20
Rad, I'm totally down to try out that beta version. Thank you!

[2021-11-24 20:48] #20 closed

[2021-11-25 16:01] ownchoice opened #22 "prettier-eslint highlights errors but doesn't fix them: There was trouble creating the ESLint CLIEngine"
**Describe the bug**

I'm working with TSX files for a Next.js project with Yarn. I'm not having this problem with other projects, even with the same Prettier and ESLint configuration files.

The `prettier` and `eslint` commands work fine with `npx` and `yarn run` in the project's directory.

VS Code highlights the errors accordingly to my `.eslintrc` rules, but doesn't fix them. When trying to fo

[2021-11-26 03:44] x-ray-s opened #23 "Use global eslint and prettier instead of project cmd."
resolved

[2021-11-26 03:45] hakula139 commented on #19
It seems like setting `tsconfigRootDir` to `__dirname` instead of `'.'` also works for me. Great thanks!

[code]

[2021-11-26 11:05] #23 closed

[2021-11-26 23:52] Hetch3t commented on #22
Same issue on Mac OS, using in `node` env with `typescript`.

### System configuration:
Versions:
- Visual Studio Code: **1.62.3**
- VS Code Node: **14.16.0**
- Node installed on system: **17.0.1**
- Package Manager: yarn **1.22.17**
- prettier-eslint extension: **3.0.4**
- prettier-eslint: **13.0.0**
- prettier: **2.5.0**
- eslint: **8.3.0**
- typescript: **4.5.2**

System Specifications:
- OS: m

[2021-11-29 09:09] nehalbadelhafez commented on #15
Hi,
I'm not on windows I'm on ubuntu 20.04, I do have autosave set to
onFocusChange and please tell me where I can find the cpuprofile.txt file.
Regards,
Nehal

On Wed, Nov 17, 2021 at 10:26 PM Rebecca Vest ***@***.***>
wrote:

[2021-12-06 22:42] idahogurl commented on #15
@nehalbadelhafez My bad. I was copying a response for a similar issue. What is your processor?

[2021-12-06 22:43] idahogurl commented on #21
@Leslie-L55 Thank you for creating an issue and providing some help to resolve it. I am aware of performance issues with quad-core or smaller processors. Being on Windows NT makes me think you are on an older machine. I need the cpuprofile.txt to know what is causing this issue.

Do you have autosave set to onFocusChange?

[2021-12-06 22:44] idahogurl commented on #22
@Hetch3t @ownchoice I was going to say that y'all need to download the beta version of my extension.  It only supports ESLint 7.32 because ESLint 8's API changed. https://github.com/idahogurl/vs-code-prettier-eslint#beta-download

[2021-12-07 10:28] nehalbadelhafez commented on #15
My processor model is Intel(R) Core(TM) i5-3317U CPU @ 1.70GHz

On Tue, Dec 7, 2021 at 12:42 AM Rebecca Vest ***@***.***>
wrote:

[2021-12-07 21:04] idahogurl commented on #15
@nehalbadelhafez That would be the issue. According to https://cpu.userbenchmark.com/Intel-Core-i5-3317U/Rating/2744 your processor is a duo core. My extension has issues with with quad-core or smaller processors. Unfortunately there is nothing I can do because I am dependent on the ESLint & Prettier CLI.

[2021-12-08 09:24] nehalbadelhafez commented on #15
Ok, thanks for the clarification.

On Tue, Dec 7, 2021 at 11:05 PM Rebecca Vest ***@***.***>
wrote:

[2021-12-08 20:04] #15 closed

[2021-12-08 20:05] #22 closed

[2021-12-15 09:32] leegee opened #24 "Feature request: format all docs in a directory"
As a happy user,
I would like to run your lovely formatter recursively over a directory
formatting each file that matches a user-configurable regexp/glob
When right-clicking the 'File Explorer',
Then an option is presented in the context menu to 'Format all' against directories
(and perhaps 'format' against files?

[2021-12-16 14:43] MurzNN commented on #16
I've got the same issue, but downgrading isn't help, it is reproducible on clean project with those files:
`package.json`:
[code]
`.eslintrc.js`
[code]
`index.ts`
[code]
And when I'm trying to launch `Format Document With` » `Prettier ESLint` - I see the error in output:
[code]

Can you recommend any fixes for this?

[2021-12-17 07:39] MurzNN commented on #16
Upgrading to beta version https://github.com/idahogurl/vs-code-prettier-eslint#beta-download resolves the issue for me!

[2021-12-26 03:59] gzhqiang opened #26 "Error: r is not a constructor"
I use the vue3-recommended, then throw Error: r is not a constructor

[2021-12-27 00:08] bithavoc commented on #26
Same with React, my package json:

[code]

[2021-12-27 16:57] idahogurl commented on #26
@bithavoc @gzhqiang Could I get your ESLint config file?

[2021-12-27 21:29] dangjoeltang commented on #26
I am having this same issue. These are my package versions and eslintrc.js
<img width="782" alt="Screen Shot 2021-12-27 at 3 28 03 PM" src="https://user-images.githubusercontent.com/31787718/147508376-fa731ab6-f12a-4c98-a78d-aaf1e6ac842e.png">
<img width="732" alt="Screen Shot 2021-12-27 at 3 28 21 PM" src="https://user-images.githubusercontent.com/31787718/147508393-0bb8f65a-8029-48d3-a337-9ec68e

[2021-12-27 21:30] dangjoeltang commented on #26
These are the default configurations for a fresh project using NestJS CLI command: `nest new <app-name>`

[2021-12-28 05:59] MurzNN opened #27 "Error: Cannot find module '@typescript-eslint/parser'"
**Describe the bug**
I have a `v4.0.0-beta` version of extension, and on formatting action it shows me the error:
[code]
But the '@typescript-eslint/parser' package is installed locally:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install the `v4.0.0-beta` version of the extension.
2. Install '@typescript-eslint/parser' via `yarn add @typescript-eslint/parser@^5.0.1`
3. Select "Fo

[2021-12-28 06:18] MurzNN commented on #27
Seems this happens in projects, where have several root folders opened, in project with single folder - all works well.

[2021-12-28 09:30] Ayushi-Sharma opened #28 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `3.0.4`
- OS Version: `Darwin x64 20.6.0`
- VSCode version: `1.50.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-12-28 20:19] idahogurl commented on #28
@Ayushi-Sharma Could you provide further clarification and reproduction steps for this bug?

[2021-12-28 20:21] idahogurl commented on #26
@dangjoeltang This extension does not support ESLint 8. There is a breaking change where they removed functionality from their API. Please downgrade and try again 🙂

[2021-12-28 20:23] idahogurl commented on #27
@MurzNN What version of ESLint do you have installed?

[2021-12-29 07:33] neolitec commented on #27
I have the same issue with ESLint 6.8.0 and the current stable plugin (3.0.4).

I also have multiple projects in the same folder but since it's a monorepo I really want to have all of them opened at the same time. I tried to open a single package from it and I still have this issue.

I feel like it's an issue with `prettier-eslint` 🤔

[2021-12-29 07:46] MurzNN commented on #27
I have `eslint@7.26.0` and `.eslintrc.js` config file is:
[code]

[2021-12-29 08:31] neolitec commented on #27
I tried to see where `require.resolve` is looking for and I got:

- /Users/[user]/.vscode/extensions/rvest.vs-code-prettier-eslint-3.0.4/dist/node_modules
- /Users/[user]/.vscode/extensions/rvest.vs-code-prettier-eslint-3.0.4/node_modules
- /Users/[user]/.vscode/extensions/node_modules
- /Users/[user]/.vscode/node_modules
- /Users/[user]/node_modules
- /Users/node_modules
- /node_modules

...which

[2021-12-29 23:38] idahogurl commented on #27
@neolitec I think it must be the multiple projects like @MurzNN suggested. What monorepo tool are you using? Lerna?

[2021-12-30 02:32] neolitec commented on #27
Yes, I'm using Lerna.

[2021-12-30 18:14] idahogurl commented on #27
@neolitec I work in a Lerna monorepo too. What I have is a package.json in the root that has Prettier and all my ESLint related packages. I have my ESLint and Prettier configs in the root as well.

[2022-01-05 18:44] idahogurl commented on #27
@MurzNN  I attempted to  example repo to try to reproduce your issue. https://github.com/idahogurl/example-repo
Basically it's a VS Code workspace with two separate projects (each with own `node_modules`). I have `project2` using the ESLint config you provided.

In VS Code, you go to `Open Workspace from File` and select that project file.  I wasn't 100% sure if this was your setup or if you just

[2022-01-09 17:39] #19 closed

[2022-01-15 07:53] fattah-behmadi opened #29 "failed to install"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Example Project**

 (If possible, please create an example project here on GitHub.com that exhibits the problemati

[2022-01-17 22:58] neolitec commented on #27
@idahogurl I didn't have the time to investigate more on my first project.
However, I have another work project where we recently updated the ESLint stack. It falls into the same issue now. I'm not in a monorepo this time and I'm pretty sure `@typescript-eslint/parser` is installed (`5.9.0` to be precise). But for some reason, not detected anymore.

[2022-01-18 16:59] idahogurl commented on #29
@fattah-behmadi Thank you for creating an issue. Could you please provide steps or example project to reproduce the issue? Otherwise, I'll have to mark this as closed.

[2022-01-18 17:01] idahogurl commented on #27
@neolitec Could you provide your ESLint config and package.json?

[2022-01-21 17:32] #21 closed

[2022-01-22 17:43] badalya1 commented on #26
and **please please please**,  when posting code don't  use screenshots, don't be an end user :)

[2022-01-24 16:39] el-ethan commented on #26
@idahogurl thank you for writing and maintaining this extension!

Do you have plans to add support for newer versions of eslint, or are there reasons why this is unlikely/impossible?

[2022-01-24 21:58] idahogurl commented on #26
@el-ethan I'd love to support newer versions of ESLint. My pain point right now is the `prettier-eslint`. (see https://github.com/prettier/prettier-eslint/issues/656)

I am working on this [PR](https://github.com/prettier/prettier-eslint/pull/696) but I noticed how they have approved PRs that are nearly a year old and not merged. The last time the package was updated was 6 months ago. I'm hesitant

[2022-01-25 00:27] dangjoeltang commented on #26
Sorry this is my first ever comment on a github issue, so I don't know proper etiquette :(

[2022-01-26 08:46] wclr commented on #26
@idahogurl
- I use `"array-bracket-spacing": ["warn", "always"]` it shows warning in file (when there is not spacing) and calling "ESlint: fix autofixible problems" adds needed spaces, so I wanted to get this when formatting with prettier using this extension.

- I tried and had the same error in the "Prettier Eslint" output (when trying to "Format document with Prettier ESlint")
- I've downgraded

[2022-01-26 15:09] el-ethan commented on #26
@idahogurl that is totally understandable. Thanks for the information!

[2022-01-26 17:27] idahogurl commented on #24
@leegee I can see how that would be useful. Would it really need the regexp/glob? The .eslintignore & .prettierignore would make sure to skip over files you don't want ever formatted.

[2022-01-26 18:30] wclr commented on #26
@idahogurl I installed `4.0.0-beta` and checked, the result is the same, `prettier-eslint` CLI works ok (adds needed spaces).

[2022-01-26 23:03] idahogurl commented on #26
@wclr Alright could I get an example project?

[2022-01-27 04:31] wclr commented on #26
@idahogurl https://github.com/wclr/vscode-prettier-eslint-issue.git

[2022-01-28 07:30] murmanox commented on #27
Hello, I'm also having this issue. I'm using version 3.1.0 of the plugin with pnpm and eslint@7.32.0. Here's my package.json
`{
  "name": "roblox-wordle",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "build": "rbxtsc",
    "watch": "rbxtsc -w"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "@rbxts/compiler-types": "^1.2.

[2022-01-31 22:47] idahogurl commented on #26
@wclr I found a fix for your issue. It could not find the your `tsconfig.json` Replace your `package.json` with this

**package.json**
[code]

Rename `.eslintrc` to `.eslintrc.js`

**.eslintrc.js**
[code]

[2022-02-01 03:26] idahogurl commented on #27
@MurzNN Rename your `.eslintrc` to `.eslintrc.js` to make it a JavaScript file. Then add
[code]
under
[code]
You are getting an error because the ESLint TS parser cannot find your `tsconfig.json`

[2022-02-01 03:43] wclr commented on #26
@idahogurl worked, thanks.

[2022-02-01 19:58] SushyDev commented on #26
same issue here with nuxt/ts/eslint/prettier

[2022-02-06 02:44] claritise commented on #27
Hi I am also having this issue and have a pretty stripped down list of dependencies. I also tried applying the fixes you reccomended @murmanox

package.json
[code]

eslint.rc
[code]

prettierrc.json
[code]

tsconfig.json
[code]

[2022-02-06 22:01] the-vampiire commented on #27
thank you this fixed it for me. for anyone else making that change just remember a `.js` uses `module.exports` which you add before the `{` of the json content

1. change to `.js`
2. add the exports

[code]

[2022-02-09 17:32] #24 closed

[2022-02-09 20:05] idahogurl commented on #27
@[claritise](https://github.com/claritise) Did you name your file `.eslintrc.js` and follow what @the-vampiire did above?

[2022-02-10 21:05] the-vampiire opened #30 "[v4 beta] incorrect formatting of destructured object"
**Describe the bug**

[code]

previously it was left in this multi-line destructure

after using the v4 beta it is now fixing to:

[code]

[code]

**Expected behavior**
expected to preserve previous multi-line destructure format

**Versions (please complete the following information):**
- Visual Studio Code: `1.64.2`
- Node: `17.3.1`
- Package Manager: `npm 8.3.0`
- prettier-eslint: `^13.0.0` (pre

[2022-02-11 18:26] idahogurl commented on #27
@the-vampiire That code is from 'prettier-eslint'. It gets bundled during the build.

[2022-02-11 21:03] the-vampiire commented on #27
Great thank you for this awesome extension. If there's anything I can do to help please just tag me.

[2022-02-12 17:27] #28 closed

[2022-02-14 03:30] idahogurl commented on #30
@the-vampiire I've attached a project with the fixed settings. [archive.zip](https://github.com/idahogurl/vs-code-prettier-eslint/files/8057669/archive.zip)
8-f9e49d4b8748.png">

The issue was that 'max-len' was set as "off" by one of the configs. I other issue was that `"prettier/@typescript-eslint",` is no longer valid in v8 of `eslint-config-prettier` see https://github.com/prettier/eslint-conf

[2022-02-14 04:55] idahogurl commented on #30
@the-vampiire I ran your code through the CLI Engine of `prettier-eslint` and got the same effect. The issue is not with the extension. It's only doing what the `prettier` is telling it to do. See https://github.com/prettier/prettier/issues/2550

I did find this plugin that may get you closer to what you desire. https://www.npmjs.com/package/eslint-plugin-newline-destructuring or you could [write

[2022-02-15 22:13] the-vampiire commented on #30
wow @idahogurl thank you so much for this. it had been driving me nuts. you are a wizard!

[2022-02-15 22:13] #30 closed

[2022-02-16 22:36] the-vampiire commented on #30
i tried out the plugin and its almost exactly what i needed. unfortunately it does some funky stuff with indentation that i cant figure out:

[code]

[code]

what a bummer. i created an issue in the plugin repo to see if they can help me sort it out. thank you again for your help

[2022-02-21 17:40] the-vampiire commented on #30
@idahogurl thank you for that plugin suggestion. after working with the maintainer i was able to get the perfect (imo) settings! in case anyone else needs this

[issue thread](https://github.com/urielvan/eslint-plugin-newline-destructuring/issues/2)

[code]

[2022-02-22 00:25] shrewdact opened #31 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `3.1.0`
- OS Version: `Darwin x64 20.6.0`
- VS Code version: `1.64.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///var/folders/2q/xpc_pjpx46gc4qrn1s_b94480000gn/T/rvest.vs-code-prettier-eslint-unresponsive.cpuprofile.txt`

Find more details here: https://github

[2022-02-22 00:27] #31 closed

[2022-03-02 00:42] gdibble commented on #26
[Good news](https://github.com/prettier/prettier-eslint/pull/696#pullrequestreview-885834453) is: "[DanielKlys7](https://github.com/DanielKlys7) approved these changes [13 days ago](https://github.com/prettier/prettier-eslint/pull/696#pullrequestreview-885834453)"

[2022-03-05 16:24] IvanaGyro commented on #27
I get `eslint-config-airbnb-base@15.0.0" has unmet peer dependency "eslint-plugin-import@^2.25.2"` warning when installing packages with `yarn`. After installing `eslint-plugin-import`,  `Error: Cannot find module '@typescript-eslint/parser'` is fixed, and `Prettier ESLint` works perfactly.

[2022-03-06 17:28] #29 closed

[2022-03-28 11:13] jdugas opened #32 "license"
I would like to use this in my work environment, but I need there to be a license listed with it for IT to process my request. Would you consider adding an MIT license?

[2022-03-28 15:01] #32 closed

[2022-04-12 18:46] bernardocs commented on #26
Bump
Waiting for this merge :))

[2022-04-18 17:36] #27 closed

[2022-04-18 23:44] gdibble commented on #26
@idahogurl did you see?! 👀 🎉  Congrats on your code merge.  We all appreciate your hard work!

[2022-04-18 23:55] idahogurl commented on #26
@gdibble Close but no cigar. Release is broken https://github.com/prettier/prettier-eslint/runs/6070047136?check_suite_focus=true
Also it looks like they didn't include the BREAKING CHANGE message in the squash and merge so the `semver` will be wrong.

[2022-04-19 00:06] gdibble commented on #26
"Close but no cigar" just means more "fun" 😉 😉
🙏  _Thanks in advance_

[2022-04-21 02:08] schmannie commented on #26
Hey!

Thanks for the update to `prettier-eslint`! I'm currently installing it from Git in order to get ESLint 8 support, in conjunction with the pre-release version of `vs-code-prettier-eslint` extension.

<details>
    <summary>This is the error I receive when I try to format now:</summary>

    Error: n is not a constructor
    TypeError: n is not a constructor
        at p (c:\Users\mannie.exe\

[2022-04-21 07:13] k-utsumi commented on #26
@schmannie Maybe see [Prerequisites](https://marketplace.visualstudio.com/items?itemName=rvest.vs-code-prettier-eslint#prerequisites).

[2022-04-21 07:36] schmannie commented on #26
@k-utsumi yep.

I'm running a version of `prettier-eslint` that should be able to run with ESLint 8 (prettier/prettier-eslint#696). I am asking if `vs-code-prettier-eslint` itself needs to be updated as well &mdash; and I guess it does.

[2022-04-21 14:34] idahogurl commented on #26
@schmannie Yes `vs-code-prettier-eslint` itself does need to be updated. However, there was an issue with the publish process and https://github.com/prettier/prettier-eslint/pull/696 did not go out. If you look at NPM it's still 13.0.

[2022-04-21 20:24] schmannie commented on #26
Hey! I hope I'm not derailing this issue, but I was trying to update this extension myself &mdash; just to see what that might be like &mdash; have you managed to bundle the new ESLint with Rollup? No matter what methods I use, Rollup has refused to cooperate. My changes are at [schmannie/vs-code-prettier-eslint:4.0.0-beta](https://github.com/schmannie/vs-code-prettier-eslint/tree/4.0.0-beta).

P.

[2022-04-23 19:34] idahogurl commented on #26
@schmannie Interesting... 🤔 I will take a look on my side and see if I have the same behavior with Rollbar.

[2022-04-26 15:42] idahogurl commented on #26
@schmannie I was able to get Rollbar to run but its output was causing an error when I tried running the extension tests. I used your branch and switched to `esbuild` and the problems went away.

P.S. I was was blown away by how fast `esbuild` runs.  Thank you for your branch!

[2022-04-27 09:08] githuber0007 opened #36 "Activating extension rvest.vs-code-prettier-eslint failed due to an error"
**Describe the bug**
An error occurred loading extension preview 5.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Open the extended host log to see this error message

**Screenshots**
![image](https://user-images.githubusercontent.com/56445536/165480825-faf3eb87-a0f9-4496-a7ee-3ae3d22fd79b.png)

**Versions (please complete the following information):**
- Visual Studio Code: 1.66.2
- Nod

[2022-04-27 22:41] idahogurl commented on #36
@githuber0007 Could you create an example repository. I cannot seem to reproduce the issue.

[2022-04-28 02:24] idahogurl commented on #36
Closed by #37

[2022-04-28 02:24] #36 closed

[2022-04-28 09:33] davidmondok commented on #30
@the-vampiire did you get this to work with fixing on save in vscode?

Once I add `'prettier/prettier': ['error'],` to my eslint rules destructured objects are changed from inline to multiline and vice versa on every save and there's always an error, no matter the styling.

[2022-04-28 23:51] the-vampiire commented on #30
@davidmondok yes i did

[code]

[code]

[code]

[2022-04-29 13:45] the-vampiire commented on #30
@davidmondok No problem. Yes it's delicate but I always bring those exact devdeps over to new projects.

Silly question but as a sanity check you are using the beta version of the extension right? And this is undocumented but I've found if you make any changes to packages (wrt linting) if I close out of vscode completely and reopen then they are activated.

What is your prettier/eslint extension o

[2022-04-29 13:56] davidmondok commented on #30
@the-vampiire Exactly, I tried using the 5.0.1 Pre-Release version of Prettier ESLint but receive this output on every save `Error: r is not a constructor` which will pretty much mean the same as `CLIEngine is not a constructor` which I receive when running `pretter-eslint` in the terminal.

[2022-04-30 03:13] the-vampiire commented on #30
@davidmondok Not sure what you mean by the prerelease version. Are we talking about the extension version? I just checked and the one I have installed is 4.0.0-beta

[2022-04-30 16:44] the-vampiire commented on #30
hmm now i am not sure i even got this beta version lol. it is no longer in the beta instructions doc.

but anyways i tried switching to the "pre-release" version (v5.0.1) and i am still having it working:

<img width="465" alt="image" src="https://user-images.githubusercontent.com/25523682/166114530-2d9dbc38-570d-4302-a06a-b3d48a452204.png">

- i am using the eslint/prettier configs shown above
-

[2022-05-08 01:34] Hetch3t opened #38 "ESLint stage is not applied"
**Describe the bug**
Seems like `eslint --fix` stage is not applied at all (typescript file).

**To Reproduce**
Steps to reproduce the behaviour:
1. Have `.eslintrc.json` config file.
2. Set `prettier` config via `package.json`.
3. Have `.ts` file to format.
4. Test 1:
4.1. Install `prettier` extension (for testing purposes) and ESLint extension:
4.2. `CMD + SHIFT + P` -> `Format document with` ->

[2022-05-08 15:31] Hetch3t commented on #38
Okay, I was able to fix this. Issue is with:
[code]

So I excluded rules that were requiring setting `parserOptions.project`

[2022-05-08 15:31] #38 closed

[2022-05-25 10:33] ipetinate opened #39 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `3.1.0`
- OS Version: `Darwin x64 21.4.0`
- VS Code version: `1.67.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///var/folders/yv/x7jphpzx7ybddzwz0_jxsrym0000gq/T/rvest.vs-code-prettier-eslint-unresponsive.cpuprofile.txt`

Find more details here: https://github

[2022-05-25 20:38] idahogurl commented on #39
@ipetinate Could you provide the following?

**Versions (please complete the following information):**
- Node: [e.g. 12.21.0]
- prettier-eslint: [e.g. 10.1.0]
- prettier: [e.g. 1.9.2]
- eslint: [e.g. 6.8.0]

**System Specifications (please complete the following information):**
- OS: [e.g. MacOS Big Sur 11.4]
- Processor: [e.g. Intel i7 6-Core 2.6Ghz]
- RAM Size: [e.g. 16 GB]

Also, how many line

[2022-05-26 18:19] ipetinate commented on #39
- **Versions (please complete the following information):**
    - Node: 14.19.1
    - prettier: 2.2.1
    - eslint: 7.22.0
- **System Specifications (please complete the following information):**
    - OS: macOS Monterey 12.3.1
    - Processor: 2,6 GHz Intel Core i7 6-Core
    - RAM Size: 16 GB 2667 MHz DDR4
    - Graphics: Intel HD + AMD Radeon Pro 5300M 4 GB
- A: Also, how many line numbers and

[2022-05-26 18:34] idahogurl commented on #39
@ipetinate That's really strange. Your system is basically the same as my old machine before I got an M1 and it didn't have CPU  issues with a file that small. When I had a quad core processor, I did notice some lagginess. Do you have the same issue with running the ESLint CLI?

[2022-05-26 19:35] ipetinate commented on #39
No, that doesn't happen when running the cli.
I believe it is some conflict between VS Code extensions.

[2022-05-28 00:08] 123names opened #40 "Prettier-eslint plug-in does not respect .prettierrc file"
**Describe the bug**
I have a .prettierrc file contain property
{
  "trailingComma": "all"
}
with settting.json I have
{
  "csharpextensions.privateMemberPrefix": "_",
  "csharpextensions.useThisForCtorAssignments": false,
  "cSpell.userWords": ["connectionless", "Datagram", "nextjs"],
  "editor.bracketPairColorization.enabled": true,
  "editor.defaultFormatter": "rvest.vs-code-prettier-eslint",

[2022-05-28 11:08] ownchoice commented on #27
Getting this error with the latest pre-release version (v5.0.1):

[code]

[2022-05-28 12:15] ownchoice commented on #11
I was having the same problem, turns out I was trying to use a plugin in my ESLint config file without the corresponding npm package installed.

I just removed the unused jsx-a11y plugin from my ESLint config.

I wasn't using JSX in my project but it had the following ESLint config:

[code]

Because I had copied the `.eslintrc.js` file from another project.

And I didn't have the `eslint-plugin-js

[2022-05-28 21:26] idahogurl commented on #40
@123names What version of VS Code Prettier ESLint are you running? I'll have to do some further checking but one thing I noticed is that your ESLint version is on version 7 and only version 4.10 of my plugin works with 7. Version 5 requires 8

[2022-06-02 18:29] 123names commented on #40
![image](https://user-images.githubusercontent.com/13399367/171701087-38a69522-d4de-4f85-995e-c955d60a04e3.png)

[2022-06-09 10:56] KaniDev opened #41 "Error: r is not a constructor"
Hi ! This seems to have been a past issue, but seems to have come back recently.
Environment: Arch Linux, VSCode 1.67.2, node v16.14.2 (LTS), using the default Next TS app.

Using format on save, each time i save, I get a new "Error: r is not a constructor" in the output tab.

Steps to reproduce:
- Create a next app: `yarn create next-app --typescript`
- Add the dependencies as the README specifie

[2022-06-10 18:08] idahogurl commented on #40
@123names Could I get your ESLint config?

[2022-06-11 19:12] mjvestal commented on #41
I am also getting this error.

I have v3.1.0 of the extension. I am not using typescript. My ESLint config is
[code]

Running the prettier-eslint CLI with --write updates my JS files. But when I enable the extension to format on save, I see `Error: r is not a constructor` in the Output tab whenever I save a file.

[2022-06-12 03:59] idahogurl commented on #41
@mjvestal Version 3.10 only works with Prettier. You need to use the Prerelease Versions https://github.com/idahogurl/vs-code-prettier-eslint/tree/3.x#installation. Version 4 supports ESLint 7 and Version 5 supports ESLint 8

[2022-06-14 10:04] barroudjo opened #42 "not working when using next eslint configuration"
**Describe the bug**
Next provides an eslint config.
if you have an eslint config that references it, then this extension will fail with the following message:
[code]

My guess is that it is because the next eslint config is using [@rushstack/eslint-patch](https://www.npmjs.com/package/@rushstack/eslint-patch) which changes the way plugins are loaded.

**To Reproduce**
- use version v5.0.1 of the

[2022-06-14 19:59] idahogurl commented on #40
@123names I created a project to try to reproduce the behavior. https://github.com/idahogurl/vs-code-prettier-eslint-40
I have been unsuccessful in getting the issue to reproduce. I ran `prettier *.ts --write` and even it doesn't put a comma after the last function exported. See https://github.com/idahogurl/vs-code-prettier-eslint-40/blob/main/test.ts

[2022-06-15 16:22] 123names commented on #40
I think it's what in .prettierrc cause the comma.
{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto"
}

[2022-06-15 17:34] the-vampiire commented on #40
@123names does it help if you add this rule?

[code]

[2022-06-15 19:59] idahogurl commented on #40
@123names From the terminal I ran the command `npx prettier *.ts --write`. I was not in the editor.

[2022-06-19 13:46] jodik commented on #16
Downgraded to eslint@7.32 resolved the issue for me too. It's weird tho as prettier-eslint requires officially eslint@^8.7.0

[2022-06-20 01:01] ownchoice commented on #42
`eslint` and `next lint` both work just fine, but `prettier-eslint` (from `prettier-eslint-cli`) throws the error.

[2022-06-20 04:06] idahogurl commented on #42
@barroudjo Could you create an issue with pretter-eslint then?

[2022-06-20 12:25] barroudjo commented on #42
Yeah, I'll take care of that.

[2022-06-20 19:33] #40 closed

[2022-06-22 13:57] mattbrannon opened #43 "Changes to prettier config require restart before taking effect"
**Describe the bug**
When using the extension, changes to a project's prettier configuration only take effect after restarting vscode or restarting the extension host. (Open command palette, type restart and look for "Developer: Restart Extension Host")

**To Reproduce**
I made a [small repo](https://github.com/mattbrannon/prettier-eslint-example) to document the issue.

Steps to reproduce the beh

[2022-06-24 08:28] LovesLolita commented on #43
5.0.3 It doesn't work. I wonder why it doesn't work at all     >_<

[2022-06-24 19:08] idahogurl commented on #43
@LovesLolita Could you provide your ESLint config?

[2022-06-24 19:56] idahogurl commented on #43
@mattbrannon It's because of caching. The `prettier-eslint` package uses `prettier.resolveConfig` ([docs](https://prettier.io/docs/en/api.html#prettierresolveconfigfilepath--options)) to get the Prettier config file. You have to pass `useCache` as false to disable the behavior. Caching improves the performance but like you said you have to restart the editor.

The only way to fix it would be to pu

[2022-06-28 00:18] mattbrannon commented on #43
@idahogurl Thanks for the info. I wasn't sure if it was due to the something in the `prettier-eslint` package, the extension or my setup. If this is expected and improves performance then there's not much to gain from a fix aside from not having to restart the editor which really isn't much of a problem.

I did find something else but I'll open a new issue for that. Closing this one.

[2022-06-28 00:18] #43 closed

[2022-06-29 03:40] shadowfish07 opened #44 "How to customize prettier config file path?"
I want to configure prettier without add config file in my project.
Or is there some way to configure it in vscode setting?

[2022-06-29 06:58] IntoLighter opened #45 "Error: Failed to load plugin 'promise' declared in 'CLIOptions': The argument 'filename' must be a file URL object, file URL string, or absolute path string."
**Describe the bug**
My example project consists of root folder with script, package.json and eslint configuration and subfolder with react dummy project. When I run format one of the scripts in React's source `app/src` folder, I get an error:
[code]

**To Reproduce**
Run format in one of scripts in React's source `app/src` folder.

**Expected behavior**
Fix errors by `eslint --fix`.

**Example Pr

[2022-06-29 09:48] mattbrannon commented on #45
@IntoLighter Try updating your version of eslint. The extension specifies `eslint@^8.7.0`

[2022-06-29 12:43] IntoLighter commented on #45
Updating eslint in `app/node_modules` as pointed by @mattbrannon have solved the issue.

[2022-06-29 12:43] #45 closed

[2022-06-30 16:27] idahogurl commented on #44
@shadowfish07 If you want a setting other than the defaults,  there is not another way without some sort of configuration file in your project. You can put a "prettier" key in your package.json file to avoid creating a separate file.

[2022-07-02 23:48] mattbrannon opened #46 "Error in React project when formatOnSaveMode not set to "file""
**Describe the bug**
When using the extension in a React project, the extension will error when `formatOnSaveMode` is set to `modifications` or `modificationsIfAvailable`.

**To Reproduce**
Steps to reproduce outlined in [example repo](https://github.com/mattbrannon/prettier-eslint-format-on-save-mode-react)

**Expected behavior**
The extension should not error

**Screenshots**
If applicable, add

[2022-07-04 12:57] shhac commented on #41
@idahogurl Getting this error too; I have projects using ESLint 7 and all of the "Version 4" of this extension aren't advertised when I go to install a specific version
<img width="350" alt="image" src="https://user-images.githubusercontent.com/2800184/177159319-15e6429d-4828-4dea-bdf8-0b35ee46b2f6.png">

[2022-07-05 06:50] LovesLolita commented on #41
Excuse me ,Version 5.0.3 Is ESLint 4.15.0 not supported,The latest version has no effect on my project! >_<

[2022-07-05 22:00] idahogurl commented on #41
@shhac
1. Download the extension here https://marketplace.visualstudio.com/_apis/public/gallery/publishers/rvest/vsextensions/vs-code-prettier-eslint/4.1.0/vspackage)
2. In VS Code, click Extensions > ... > Install from VSIX

<img width="399" alt="Screen Shot 2022-07-05 at 3 58 40 PM" src="https://user-images.githubusercontent.com/10620169/177424257-ddee7a0e-2de6-478c-b40c-98e5e99f6e15.png">

[2022-07-07 02:51] idahogurl commented on #46
@mattbrannon  I was able to reproduce the behavior by wrapping the `<div></div>` in `App.js` with an empty fragment and then saving.

**Before Modification**
```<div></div>```

**After Modification**
```<><div></div></>```

VS Code will send ``<>`` and then `</>` to my format function. Prettier is giving an error when trying to format this since it uses Babel. Babel won't successfully parse `<>` a

[2022-07-09 18:35] mattbrannon commented on #46
I think updating the documentation is enough. I was banging my head against the wall for a while and then once I changed the setting back to "file" it worked like a charm. I think having some explicit instructions letting people know that it will break if `formatOnSaveMode` is set to anything but `"file"` would be helpful to others who may find themselves in a similar situation.

In general, the d

[2022-07-10 17:30] #39 closed

[2022-07-11 00:29] hasibul442 opened #47 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `5.0.3`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.68.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/hasib/AppData/Local/Temp/rvest.vs-code-prettier-eslint-unresponsive.cpuprofile.txt`

Find more details here: https://github.com

[2022-07-12 16:17] idahogurl commented on #46
@mattbrannon I'd love a PR. I'll reopen this issue so you can close it with your PR.

[2022-07-18 03:52] chy9610 commented on #27
@ownchoice Written this way, mine doesn't work.

[2022-07-18 15:36] idahogurl commented on #27
@chy9610 More than likely something else is wrong with your ESLint config. Try running `npx eslint --print-config [config file name]`. Replace `config file name` with the name of your config file.  This command will let you know if you have other errors.

[2022-07-20 01:05] chy9610 commented on #27
@idahogurl Thank you. Let me try.

[2022-07-20 01:10] chy9610 commented on #27
@idahogurl Succeed, Very Nice. \(^o^)/~

[2022-07-20 18:13] idahogurl commented on #47
@[hasibul442](https://github.com/hasibul442) Thank you for creating an issue and providing some help to resolve it. I am aware of performance issues with quad-core or smaller processors. Being on Windows NT makes me think you are on an older machine. I need the cpuprofile.txt to know what is causing this issue.

Do you have autosave set to onFocusChange?

[2022-07-21 02:54] hasibul442 commented on #47
@idahogurl Thanks for your reply. I am very sorry because i clean my temp folder very recently.

[2022-07-21 14:42] maisoncastro commented on #45
I have the same problem, but I have `"eslint": "^8.9.0"`. What could I do?

[2022-07-25 20:29] idahogurl commented on #46
Closed by #49

[2022-07-25 20:29] #46 closed

[2022-07-27 11:24] nansanhao opened #50 "printWidth"
how to set printWidth by vscode setting？

[2022-07-27 16:49] idahogurl commented on #50
@nansanhao The extension doesn't have settings. All settings are need to be in an external file. See https://github.com/idahogurl/vs-code-prettier-eslint#prettier-configuration-file

[2022-07-27 16:49] #50 closed

[2022-07-28 09:33] #47 closed

[2022-07-29 23:58] kaname-png opened #63 "Eslint not working"
**Describe the bug**
When I install the prettier extension it seems to work fine, but no eslint rule loads. Because for example I have a rule not to put a class and a non-public constructor, but with this extension I don't get any error on eslint.

Prettier works fine "I think" because the document is formatted as I have configured in my prettier rules.

**To Reproduce**
Steps to reproduce the beh

[2022-08-01 11:01] mattbrannon commented on #63
@kaname-png Just to be clear, is your issue with ESLint not displaying information about rule violations in the editor? If so, that's not what this extension does. If you want that you also need to have the ESLint extension installed.

[2022-08-02 19:10] idahogurl commented on #63
@kaname-png @mattbrannon  is right this is not a bug. You need the ESLint extension and VS Code Prettier ESLint extension installed. VS Code Prettier ESLint is only a formatter.

[2022-08-02 19:10] #63 closed

[2022-08-11 15:10] M1CK431 opened #72 "Error: Failed to load plugin 'vue' declared in 'CLIOptions': The argument 'filename' must be a file URL object, file URL string, or absolute path string. Received ''"
**Describe the bug**
Can't format a document using CTRL+MAJ+I (aka `document.action.format`). However it works as expected while saving the file (despite the error message).

In output section, I have the following error:
[code]
The error occurs each time I press CTRL+MAJ+I and when I save the document. The document is formatted only when I save it.

**To Reproduce**
Steps to reproduce the behavio

[2022-08-11 15:29] M1CK431 commented on #72
UPDATE: in fact, in a pure `.js` file, format failed also on save :cry:

[2022-08-11 15:33] idahogurl commented on #72
@M1CK431 This is an issue with the @rushstack/eslint-patch not with the extension or prettier-eslint. Other users have had the same issue with the@next/eslint-plugin-next which uses @rushstack/eslint-patch.
See https://github.com/idahogurl/vs-code-prettier-eslint/issues/42

[2022-08-11 15:33] #72 closed

[2022-08-11 15:58] M1CK431 commented on #72
Thanks a lot for explanation and sorry for the noise :kissing_heart:

[2022-08-20 17:31] #41 closed

[2022-09-07 18:19] tabcat commented on #38
Having same issue. The ESLint rules are not being applied.

[2022-09-15 02:53] mattbrannon commented on #72
@M1CK431 If this is still an issue for you, one way to get around the problem is to patch it yourself.

Open the file `./node_modules/@rushstack/eslint-patch/lib/modern-module-resolution.js` and near the bottom of the file, look for the line

[code]

and change it to

[code]

Then run `npx patch-package @rushstack/eslint-patch`

[Source](https://github.com/prettier/prettier-eslint-cli/issues/434#i

[2022-09-15 07:57] M1CK431 commented on #72
For now, I have just commented `// require("@rushstack/eslint-patch/modern-module-resolution");` in my index.cjs and everything works so... :man_shrugging:

[2022-09-20 10:48] alecrobertson1 opened #84 ""Format Document With" doesn't work the same as codeActionsOnSave"
**Describe the bug**

With editor.codeActionsOnSave.source.fixAll set to true, on save ESLint and Prettier run as expected.

But when using Format Document/Format Document With Prettier ESLint, formatting does not work as expected.

Specifically, the extension "simple-import-sort" only works when using source.fixAll, _not_ when using "Format Document".

**To Reproduce**
Steps to reproduce the beha

[2022-09-22 20:46] idahogurl commented on #84
@alecrobertson1 Could you create an example project or at least attach your ESLint config file?

[2022-10-03 10:09] Metwesh opened #92 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vs-code-prettier-eslint`
- Extension Version: `5.0.4`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.71.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/MOHAME~1/AppData/Local/Temp/rvest.vs-code-prettier-eslint-unresponsive.cpuprofile.txt`

Find more details here: https://github.

[2022-10-04 21:42] idahogurl commented on #92
@Metwesh I'm assuming since you are on Windows NT that you are using an older computer. There is a known performance issue with quad-core processors that I cannot remedy.  The slowness comes from the prettier-eslint package the extension uses.

[2022-10-04 21:42] #92 closed

[2022-10-25 10:49] AxelBriche opened #106 "Error when saving my .tsx files: Failed to load plugin 'jsx-a11y' declared in 'CLIOptions'"
**Describe the bug**
Error when saving my .tsx files:

**.eslintrc.js**
[code]

**package.json**
[code]

[2022-10-26 18:19] idahogurl commented on #106
@AxelBriche This is an issue with `@rushstack/eslint-patch` which `@remix-run/eslint-config` uses (https://github.com/remix-run/remix/blob/3832d457b34d7a62633bf86a2606971263e710cb/packages/remix-eslint-config/package.json#L29) not with the extension or `prettier-eslint`. Other users have had the same issue with the `@next/eslint-plugin-next` which uses `@rushstack/eslint-patch`. I've included some

[2022-10-27 17:57] #106 closed

[2022-11-07 17:41] #84 closed

[2022-11-16 01:47] zachstence opened #113 "Failure when formatting Svelte file"
**Describe the bug**
When trying to format a SvelteKit project, the files are not formatted because Prettier ESLint fails with an error.

**To Reproduce**
More detail in reproduction repo here https://github.com/zachstence/prettier-eslint-sveltekit

Steps to reproduce the behavior:
1. Create new SvelteKit project
2. Try to format with Prettier ESLint
3. Prettier ESLint fails because it can't find

[2022-11-25 22:43] idahogurl commented on #113
@zachstence Thank you for all the reproduction material!! I will take a look.

[2022-11-25 23:30] idahogurl commented on #113
@zachstence Here is the solution.

Rename your `.prettierrc` file to `.prettierrc.cjs`
Past the following as the contents

[code]

[2022-11-29 12:22] hakula139 opened #118 "Error: Cannot find module 'vue-eslint-parser'"
**Describe the bug**

When formatting a `.vue` file with this extension, an error occurred:

[code]

While if I use `prettier-eslint-cli` to format a `.vue` file, everything works fine:

[code]

Output:

[code]

The module `vue-eslint-parser` is indeed installed locally with the project, with version 9.1.0. And I've also tried to install it globally, but to no avail. Both the extension and the CLI

[2022-11-30 16:58] idahogurl commented on #113
@zachstence Can I close this?

[2022-11-30 17:14] idahogurl commented on #118
@hakula139 I cannot reproduce the issue. Have you tried deleting your `node_modules` folder and running `yarn` again?

[2022-11-30 17:24] zachstence commented on #113
Sorry for taking a while to get back to you. Just tried your solution on my end, and it works! Thanks for your help.

[2022-11-30 17:24] #113 closed